name: Build and Release Plugin

on:
  release:
    types: [created]

permissions:
  contents: write
  attestations: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Build Plugin
        run: chmod +x gradlew && ./gradlew buildPlugin

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugin-dist
          path: build/distributions/*.zip

      - name: Verify Plugin
        run: ./gradlew verifyPlugin

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: plugin-dist
          path: build/distributions

      - name: Upload to Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          ls -la build/distributions/
          gh release upload v1.0.0 build/distributions/*.zip --repo ${{ github.repository }}
